
@font-face {
    font-family: 'exobold';
    src: url('../fonts/exo-bold-webfont.eot');
    src: url('../fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-bold-webfont.woff2') format('woff2'),
         url('../fonts/exo-bold-webfont.woff') format('woff'),
         url('../fonts/exo-bold-webfont.ttf') format('truetype'),
         url('../fonts/exo-bold-webfont.svg#exobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff2') format('woff2'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exodemibold';
    src: url('../fonts/exo-semibold-webfont.eot');
    src: url('../fonts/exo-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-semibold-webfont.woff2') format('woff2'),
         url('../fonts/exo-semibold-webfont.woff') format('woff'),
         url('../fonts/exo-semibold-webfont.ttf') format('truetype'),
         url('../fonts/exo-semibold-webfont.svg#exodemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exomedium';
    src: url('../fonts/exo-medium-webfont.eot');
    src: url('../fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-medium-webfont.woff2') format('woff2'),
         url('../fonts/exo-medium-webfont.woff') format('woff'),
         url('../fonts/exo-medium-webfont.ttf') format('truetype'),
         url('../fonts/exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/home-icons/exo-medium-webfont.eot');
    src: url('../fonts/home-icons/exo-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/home-icons/exo-medium-webfont.woff2') format('woff2'),
         url('../fonts/home-icons/exo-medium-webfont.woff') format('woff'),
         url('../fonts/home-icons/exo-medium-webfont.ttf') format('truetype'),
         url('../fonts/home-icons/exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body,
.alert-dialog-container {font-family: 'exoregular';}
.home-page .page__background,
.landing-page .page__background  {
    background: url(../img/app-bg.jpg) 83% top no-repeat;
    background-size: 250%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
}

#logo {
	margin-bottom: 40px;
}

#button-login,
#button-register {
	border-radius: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'exoregular';
	    font-size: 18px;
}

#button-login {
	background-color: #5ccaf6;
	color: #fff;
	font-weight: normal;
	margin-bottom: 15px;
}

#button-register {
	background-color: #000;
	color: #fff;
	font-weight: normal;
}

#hotoffers-page .top-menu .toolbar--material__left,
#hotoffers-page .top-menu .toolbar--material__right,
#hotoffers-page .top-menu .toolbar--material__center,
#home-page .top-menu .toolbar--material__left,
#home-page .top-menu .toolbar--material__center,
#register-page .top-menu .toolbar--material__left,
#register-page .top-menu .toolbar--material__center,
#login-page .top-menu .toolbar--material__left, 
#login-page .top-menu .toolbar--material__center {
    color: #fff;
    font-family: 'exoregular';
    text-align: center;
}

#hotoffers-page .top-menu .toolbar--material__right {
        font-size: 12px;
    vertical-align: middle;
}

#hotoffers-page .top-menu .toolbar--material__left .toolbar-button--material {
    color: #fff;
}

#hotoffers-page .page--material__background,
#register-page .page--material__background,
#login-page .page--material__background {
    background-color: #fff;
}

.logout {
    font-size: 13px;
}

.top-menu div {
    color: #fff;
    font-family: 'exoregular';
    text-align: center;
}

.top-menu .center {
    line-height: 3.5;
}

.top-menu img {
    width: 100%;
}

.clearfix {
    overflow: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.form-fields {
    text-align: center; 
}

.form-fields.login {
        margin-top: 5em;
}

.form-fields ons-input {
    display: block;
    width: 80%;
    margin: auto;
    padding: 5px 7px;
    border: 1px solid #ccc;
    height: auto;
    font-weight: bold;
    border-radius: 7px;
    /*color: #ddd;*/
}

.form-fields ons-input input {
    font-family: 'exoregular';
    padding-top: 2px;
}

.form-fields h3 {
    font-family: 'exoregular';
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
}

.form-fields.signup .button--large,
.form-fields.login .button--large,
.form-fields .button--material {
    border-radius: 0px;
    font-family: 'exoregular';
    padding: 10px;
    background-color: #5bcbf3;
    width: 85%;
}

.form-fields.signup .button--large,
.form-fields.login .button--large {
    padding: 4px 12px;
    border-radius: 0px;
    margin: auto;
}

.form-fields.login .login-signup-btn {
    margin-top: 5em;
}

.form-fields a {
    font-family: 'exoregular';
    color: #5bcbf3;
    font-size: 14px;
}

.form-fields p,
.form-fields h3 {
    font-family: 'exoregular';
}

.form-fields.signup ons-list {
    border: none;
}

.form-fields.signup .list__item {
    background: none;
}

.form-fields.signup .list__item:first-child {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-fields.signup .list__item .list__item__left {
    padding: 12px 5px 12px 0;
}

.form-fields.signup .checkbox__checkmark:before {
    border: 1px solid rgba(195, 195, 195, 0.81);
}

.form-fields ons-input[type="checkbox"] {
    border: none;
    margin-top: 0px;
}

.form-fields label.confirm-label {
    font-size: 11px;
    font-family: 'exoregular';
}

.text-input:invalid {
    border: 1px solid #ccc;
}

.hotoffers-group {
    width: 90%;
    margin: auto;
}

.hotoffers-group ons-col {
    padding: 0 5px;
    margin-bottom: 15px;
}

ons-row#hotoffer-list {
    padding: 25px 0;
}
  
ons-splitter-side ons-list ons-list-item {
    font-family: 'exoregular';
}

ons-toolbar:not([inline]) {
    background: rgba(0, 0, 0, 1);
    /*position: relative;*/
    border-bottom: 3px solid #5bcbf3;
}
.left {
    float: left;
}

.text-center {
    text-align: center;
}

#carousel {
    width: 100%; 
        height: 190px;
    padding-top: 20px;
    text-align: center;
}

#carousel img {
    width: 80%;
    margin-bottom: 10px;
}

#home-ewallet-cards p,
#home-ewallet h4,
#home-ewallet p {
    margin: 0px;
    font-family: 'exoregular';
}

#home-ewallet-cards p,
#home-ewallet h4 {
    color: #fff;
}

#home-ewallet h4 {
     font-weight: normal;
    font-size: 20px;

}

#home-ewallet p {
    color: #5BCBEE;
        color: #5BCBEE;
    font-size: 30px;
    font-weight: 600;
    margin: 5px 0;
}

#home-ewallet-cards,
#home-ewallet {
        background: rgba(0, 0, 0,.9);
    padding: 20px 5px 10px;
    border-radius: 5px;
    /*float: left;*/
    margin: 5px auto;
    text-align: center;
    transition: all 0.37s ease;
    cursor: pointer;
        width: 80%;
    border: 0.5px solid #5BCBEE;
    text-decoration: none;
}

#mycards-content #button-mycards {
        width: 60%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #5ccaf6;
    color: #fff;
    font-weight: normal;
    font-family: 'exoregular';
    padding: 8px 5px;
    font-size: 18px;
    display: block;
    text-decoration: none;
}

#mycards-content .mycards-header {
    margin: 15px 0;
}

.page[status-bar-fill] > .navigation-bar {
    padding-top: 5%;
}
/*.page__background  {
	background-image: url(../img/app-bg.jpg) center top no-repeat;
    background-size: cover;
    background-color: transparent;
}*/

